.container{
  padding-top: 50px;
}
ul{
  list-style-type:none;
}
li{

}
.package{
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding: 10px;
  position: relative;

  .name{
    font-size: 30px;
    display: inline-block;
  }
  .language{
    padding: 5px;
    background-color: aquamarine;
    font-size: 12px;
    border-radius: 5px;
    display:inline-block;
    float: right;
  }
  .del{
    position: absolute;
    right: 10px;
    bottom: 0px;
  }

  margin-bottom:5px;
}

.packages{
  margin-top: 15px;
}
